<%= form_for @passport, html: {role:"form"} do |f| %>
    <div class="form-group">
      <%if(params[:employee_number]==nil)%>
        <%= f.label :employee_number, class: "sr-only"%>
        <%= f.text_field :employee_id, class: "form-control",'placeholder' => "Employee NUmber"%>
      <% else %>
      <%= f.label "Employee Number" %>
      <%= f.text_field :employee_id, class: "form-control",'value' => "#{params[:employee_number]}",'disabled'=>""%>
          <input type="hidden" name="employee_number" value="<%=params[:employee_number]%>"/>
      <%end%>
    </div>

    <div class="form-group">
      <%= f.label :passport_number, class: "sr-only"%>
      <%= f.text_field :passport_number, class: "form-control",'placeholder' => "Passport Number"%>
    </div>


    <div class="form-group">
      <%= f.label :date_of_expiry, class: "sr-only"%>
      <%= f.text_field :date_of_expiry, :class=>"form-control", 'data-date-format'=>"dd/mm/yyyy", 'data-behaviour'=>"datepicker_doe",'placeholder'=>"Select Date of Expiry"%>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-behaviour~=datepicker_doe]').datepicker();
          })
      </script>
    </div>

    <div class="form-group">
      <%= f.label :citizenship, class: "sr-only"%>
      <%= f.text_field :citizenship, class: "form-control",'placeholder' => "Citizenship"%>
    </div>

    <%= f.submit class: 'btn btn-primary'%>
<%end%>