<%= form_for @passport, html: {role: "form"} do |f| %>
    <div class="form-group">
      <% if (params[:employee_number]==nil) %>
          <%= f.label :employee_number, class: "sr-only" %>
          <%= f.text_field :employee_number, class: "form-control", 'placeholder' => "Employee NUmber" %>
      <% else %>
          <%= f.label "Employee Number" %>
          <%= f.text_field :employee_number, class: "form-control", 'value' => "#{params[:employee_number]}", 'disabled' => "" %>
          <input type="hidden" name="employee_number" value="<%= params[:employee_number] %>"/>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :passport_number, class: "sr-only" %>
      <%= f.text_field :number, class: "form-control", 'placeholder' => "Passport Number" %>
    </div>


    <div class="form-group">
      <%= f.label :expiry_date, class: "sr-only" %>
      <%= f.text_field :expiry_date, :value => f.object.expiry_date, :class => "form-control datepicker", 'placeholder' => "Select Date of Expiry" %>
    </div>

    <div class="form-group">
      <%= f.label :citizenship, class: "sr-only" %>
      <%= f.text_field :citizenship, class: "form-control", 'placeholder' => "Citizenship" %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
<% end %>