<%= form_for @passport do |f| %>

    <div class="field">
      <%= f.label :employee_id, "Employee ID"%>
      <%= f.text_field :employee_id%>
    </div>

    <div class="field">
      <%= f.label :passport_number, "Passport Number"%>
      <%= f.text_field :passport_number%>
    </div>


    <div class="field">
      <%= f.label :date_of_expiry%>
      <%= f.date_select(:date_of_expiry, :order => [:day, :month, :year], :start_year => 2014, :end_year => Time.now.year)%>
    </div>

    <div class="field">
      <%= f.label :citizenship%>
      <%= f.text_field :citizenship%>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>
<%end%>

