<h2>Passports</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Employee Number</th>
    <th>Employee Name</th>
    <th>Employee Citizenship</th>
    <th>Passport Number</th>
    <th>Passport Expiry</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%@passports.each do |passport| %>
      <tr>
        <td><%= passport.employee_number %></td>
        <td><%= passport.employee.name %></td>
        <td><%= passport.citizenship %></td>
        <td><%= passport.number %></td>
        <td><%= passport.date_of_expiry %></td>
        <td><%= link_to "Show", passport %>
          <%= link_to "Edit", edit_passport_path(passport, :employee_number=>passport.employee_number) %>
          <%= link_to "Destroy", passport, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>







