<%= form_for @employee do |f| %>
    <% if @employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this Employee from being saved:</h2>

          <ul>
            <% @employee.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :employee_id, "Employee ID"%>
      <%= f.text_field :employee_id%>
    </div>

    <div class="field">
      <%= f.label :first_name%>
      <%= f.text_field :first_name%>
    </div>

    <div class="field">
      <%= f.label :last_name%>
      <%= f.text_field :last_name%>
    </div>

    <div class="field">
      <%= f.label :position%>
      <%= f.text_field :position%>
    </div>

    <div class="field">
      <%= f.label :category%>
      <%= f.text_field :category%>
    </div>

    <div class="field">
      <%= f.label :date_of_joining%>
      <%= f.date_select(:date_of_joining, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year)%>
    </div>

    <div class="field">
      <%= f.label :exit_date%>
      <%= f.date_select(:exit_date, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year)%>
    </div>

    <div class="field">
      <%= f.label :location%>
      <%= f.text_field :location%>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>
<%end%>

