<%= form_for @employee, html:{role:"form"} do |f| %>

    <div class="form-group">
      <%= f.label :employee_number, "Employee ID"%>
      <%= f.text_field :employee_number, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :position%>
      <%= f.text_field :position, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :category%>
      <%= f.text_field :category, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :date_of_joining%>
      <%= f.date_select(:date_of_joining, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year, class: "form-control")%>
    </div>

    <div class="form-group">
        <%= f.label :exit_date%>
      <%= f.date_select(:exit_date, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year, class: "form-control")%>
    </div>

    <div class="form-group">
      <%= f.label :location%>
      <%= f.text_field :location, class: "form-control"%>
    </div>
  <%= f.submit class: 'btn btn-default'%>
<%end%>

