<%= form_for @employee, html:{role:"form"} do |f| %>

    <div class="form-group">
      <%= f.label :employee_number, "Employee ID"%>
      <%= f.text_field :employee_number, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :position%>
      <%= f.text_field :position, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :category%>
      <%= f.text_field :category, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :date_of_joining%>
      <%= f.text_field :date_of_joining, :class=>"form-control", 'data-behaviour'=>"datepicker_doj",'placeholder'=>"Select Date of Joining"%>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-behaviour~=datepicker_doj]').datepicker();
          })
      </script>
    </div>

    <div class="form-group">
        <%= f.label :exit_date%>
        <%= f.text_field :exit_date, :class=>"form-control", 'data-behaviour'=>"datepicker_exit_date",'placeholder'=>"Select Exit Date"%>
        <script type="text/javascript">
              $(document).ready(function(){
                  $('[data-behaviour~=datepicker_exit_date]').datepicker();
            })
        </script>
    </div>

    <div class="form-group">
      <%= f.label :location%>
      <%= f.text_field :location, class: "form-control"%>
    </div>
  <%= f.submit class: 'btn btn-primary'%>
<%end%>

