<%= form_for @employee, html:{role:"form"} do |f| %>

    <div class="form-group">
      <%= f.label :number, "Employee ID", class: "sr-only"%>
      <%= f.text_field :number, class: "form-control", 'placeholder' => "Employee Number"%>
    </div>

    <div class="form-group">
      <%= f.label :name, class: "sr-only"%>
      <%= f.text_field :name, class: "form-control",'placeholder' => "Name of Employee"%>
    </div>

    <div class="form-group">
      <%= f.label :position, class: "sr-only"%>
      <%= f.text_field :position, class: "form-control",'placeholder' => "Position"%>
    </div>

    <div class="form-group">
      <%= f.label :category, class: "sr-only"%>
      <%= f.text_field :category, class: "form-control",'placeholder' => "Category"%>
    </div>

    <div class="form-group">
      <%= f.label :joining_date, class: "sr-only"%>
      <%= f.text_field :joining_date, :class=>"form-control",'placeholder'=>"Select Joining Date"%>
    </div>

    <div class="form-group">
        <%= f.label :exit_date, class: "sr-only"%>
        <%= f.text_field :exit_date, :class=>"form-control", 'placeholder'=>"Select Exit Date"%>
    </div>

    <div class="form-group">
      <%= f.label :location, class: "sr-only"%>
      <%= f.text_field :location, class: "form-control",'placeholder' => "Home Office Location"%>
    </div>
  <%= f.submit 'SAVE',class: 'btn btn-primary' %>
  <%= f.submit 'SAVE AND CONTINUE', class: 'btn btn-primary'%>
<%end%>

