<h2>Employee List</h2>
<%= form_tag search_employees_path, :method => 'get',class:"navbar-form navbar-left",role:"search" do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], :placeholder => 'Search', :class=>"form-control" %>
    </div>
      <%= submit_tag "Search By Name", :class=>"btn btn-default"%>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Employee Number</th>
      <th>Name</th>
      <th>Category</th>
      <th>Date Of Joining</th>
      <th>Exit Date</th>
      <th>Position</th>
      <th>Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <%@employees.each do |employee| %>
  <tr class="<%if employee.passport==nil%>danger<%
     else%>success<%
     end%>">
    <td><%= employee.employee_number %></td>
    <td><%= employee.name %></td>
    <td><%= employee.category %></td>
    <td><%= employee.date_of_joining %></td>
    <td><%= employee.exit_date %></td>
    <td><%= employee.position %></td>
    <td><%= employee.location %></td>
    <td><%= link_to "Show", employee %>
        <%= link_to "Edit", edit_employee_path(employee) %>
        <%= link_to "Destroy", employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New", new_employee_path%>



