

<div class="field">
  <strong><%= label_tag :employee_id, "Employee ID"%>:</strong>
  <%=@employee.employee_id%>
</div>

<div class="field">
  <strong><%= label_tag :name%>:</strong>
  <%= @employee.name%>
</div>

<div class="field">
  <strong><%= label_tag :position%>:</strong>
  <%= @employee.position%>
</div>

<div class="field">
  <strong><%= label_tag :category%>:</strong>
  <%= @employee.category%>
</div>

<div class="field">
  <strong><%= label_tag :date_of_joining%>:</strong>
  <%= @employee.date_of_joining%>
</div>

<div class="field">
  <strong><%= label_tag :exit_date%>:</strong>
  <%= @employee.exit_date%>
</div>

<div class="field">
  <strong><%= label_tag :location%>:</strong>
  <%= @employee.location%>
</div>