<p>
  Download:
  <%= link_to "Download as Excel", request.original_url+'&format=xls' %>
</p>
<table class="table table-hover" id="search">
  <thead>
  <tr>
    <th>Show</th>
    <th>Employee Number</th>
    <th>Name</th>
    <th>Category</th>
    <th>Joining Date</th>
    <th>Exit Date</th>
    <th>Position</th>
    <th>Location</th>
    <th>Passport Number</th>
    <th>Passport Expiry Date</th>
  </tr>
  </thead>
  <tbody>

  <% @employees.each do |employee| %>
      <tr class="<%=employee.passport==nil ? "danger":"success"%>">
        <td><%= link_to "Show", employee,{:class => "show_link"} %>
        <td><%= employee.number %></td>
        <td><%= employee.name %></td>
        <td><%= employee.category %></td>
        <td><%= employee.joining_date %></td>
        <td><%= employee.exit_date %></td>
        <td><%= employee.position %></td>
        <td><%= employee.location %></td>
        <% if employee.passport %>
            <td><%= employee.passport[:number] %></td>
            <td><%= employee.passport[:expiry_date] %></td>
        <% else %>
            <td><%= nil %></td>
            <td><%= nil %></td>
        <% end %>
      </tr>
  <% end %>

  <%= will_paginate @employees %>
  </tbody>
</table>