<p>
  Download:
  <%= link_to "Download as Excel", search_employees_path(format: "xls") %>
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Employee Number</th>
    <th>Name</th>
    <th>Category</th>
    <th>Joining Date</th>
    <th>Exit Date</th>
    <th>Position</th>
    <th>Location</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

  <%@employees.each do |employee| %>
      <tr class="<%if employee.passport==nil%>danger<%
         else%>success<%
         end%>">
        <td><%= employee.number %></td>
        <td><%= employee.name %></td>
        <td><%= employee.category %></td>
        <td><%= employee.joining_date %></td>
        <td><%= employee.exit_date %></td>
        <td><%= employee.position %></td>
        <td><%= employee.location %></td>
        <td><%= link_to "Show", employee %>
      </tr>
  <% end %>

  <%= will_paginate @employees  %>
  </tbody>
</table>