<%= form_for @visa, html: {role:"form"} do |f| %>

    <div class="form-group">
      <%= f.label :passport_number%>
      <%= f.text_field :passport_id, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :visa_type%>
      <% visa_types_array = VisaType.all.map { |visa_type| [visa_type.name,visa_type.id] } %>
      <%= f.select :visa_type_id,visa_types_array, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :status%>
      <%= f.text_field :status, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :issue_date%>
      <%= f.date_select(:issue_date, :order => [:day, :month, :year], :start_year => 1980, :end_year => Time.now.year, class: "form-control")%>
    </div>

    <div class="form-group">
      <%= f.label :expiry_date%>
      <%= f.date_select(:expiry_date, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year+30, class: "form-control")%>
    </div>

    <%= f.submit class:"btn btn-default" %>
<%end%>

