<%= form_for @visa do |f| %>
    <% if @visa.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@visa.errors.count, "error") %> prohibited this Visa from being saved:</h2>

          <ul>
            <% @visa.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--<input type="hidden" id="passportId" value="<%= params[:passport_number]%>"/>-->

    <div class="field">
      <%= f.label :passport_number%>
      <%= f.text_field :passport_id%>
    </div>

    <div class="field">
      <%= f.label :visa_type%>
      <% visa_types_array = VisaType.all.map { |visa_type| [visa_type.name,visa_type.id] } %>
      <%= f.select :visa_type_id,visa_types_array%>
    </div>

    <div class="field">
      <%= f.label :status%>
      <%= f.text_field :status%>
    </div>

    <div class="field">
      <%= f.label :issue_date%>
      <%= f.date_select(:issue_date, :order => [:day, :month, :year], :start_year => 1980, :end_year => Time.now.year)%>
    </div>

    <div class="field">
      <%= f.label :expiry_date%>
      <%= f.date_select(:expiry_date, :order => [:day, :month, :year], :start_year => 1989, :end_year => Time.now.year+30)%>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>
<%end%>

