<%= form_for @visa, html: {role:"form"} do |f| %>

    <div class="form-group">
      <%if(params[:passport_number]==nil)%>
          <%= f.label :passport_number, class: "sr-only"%>
          <%= f.text_field :passport_number, class: "form-control",'placeholder' => "Passport Number here"%>
      <%else%>
          <%= f.label :passport_number%>
          <%= f.text_field :passport_number, class: "form-control", 'value' => "#{params[:passport_number]}", 'disabled'=> "" %>
      <%end%>
    </div>

    <div class="form-group">
      <%= f.label :visa_type%>
      <%= collection_select(:visa,:visa_type_id,VisaType.all,:id,:name,{},{:class => "form-control"})%>
    </div>

    <div class="form-group">
      <%= f.label :status, class: "sr-only"%>
      <%= f.text_field :status, class: "form-control",'placeholder' => "Current Visa Status"%>
    </div>

    <div class="form-group">
      <%= f.label :issue_date, class: "sr-only"%>
      <%= f.text_field :issue_date, :class=>"form-control", 'data-date-format'=>"dd/mm/yyyy", 'data-behaviour'=>"datepicker_id",'placeholder'=>"Select Issue Date"%>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-behaviour~=datepicker_id]').datepicker();
          })
      </script>
    </div>

    <div class="form-group">
      <%= f.label :expiry_date, class: "sr-only"%>
      <%= f.text_field :expiry_date, :class=>"form-control", 'data-date-format'=>"dd/mm/yyyy", 'data-behaviour'=>"datepicker_ed",'placeholder'=>"Select Expiry Date"%>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-behaviour~=datepicker_ed]').datepicker();
          })
      </script>
    </div>

    <%= f.submit class:"btn btn-primary" %>
<%end%>

