<h3>Visa List</h3>
<table class="table">
  <thead>
  <tr>
    <th>Show</th>
    <th>Employee Number</th>
    <th>Passport Number</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <% @visas.each do |visa| %>
      <tr>
        <td><%= link_to "Show", show_visa_path(visa) %></td>
        <td><%= visa.passport.employee_number %></td>
        <td><%= visa.passport.number %></td>
        <td><%= visa.status %></td>
        <td><%= link_to "Edit", edit_visa_path(visa) %></td>
        <td><%= link_to('Remove', remove_visa_path(visa), method: :put, data: {confirm: 'Are you sure?'})%></td>
      </tr>
  <% end %>
  </tbody>
</table>


