<h2>Visa Type Details</h2>

<div class="field">
  <strong><%= label_tag :name, "Visa Type Name"%>:</strong>
  <%=@visa_type.name%>
</div>

<div class="field">
  <strong><%= label_tag :country, "Country"%>:</strong>
  <%=@visa_type.country%>
</div>

<%= @visas=@visa_type.visas
    render partial:"visa_types/visa_type_sublist", locals: {object: @visas}
%>